<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0" *ngIf="menutype == 'not seller' ">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchresult aria-label="Search"
      (keyup)="search($event)" (blur)="clear()">
    <ul *ngIf="searchitem">
      <li style="float: left; padding: 6px 10px; border: 1px solid gray;" *ngFor="let product of searchitem">
        <a style="color: black; font-size: 20px; cursor: pointer;"
          (mousedown)="details(product._id)">{{product.name}}</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
      (click)="searchproduct(searchresult.value)">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menutype">

    <ul class="navbar-nav ml-auto" *ngSwitchCase="''">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="user">User Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="seller" href="#">Seller Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart-page">Cart({{cart}})</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngSwitchCase="'seller'">
      <li class="nav-item">
        <a class="nav-link" routerLink="seller-addproduct" href="#">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="seller-productlist" href="#">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a><img src="http://source.unsplash.com/50x50/?nature" alt="seller" style="border-radius: 40px;"></a>
        <a>{{sellername | titlecase}}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngSwitchCase="'user'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="userlogout()">Logout</a>
      </li>
      <li class="nav-item">
        <a><img src="http://source.unsplash.com/50x50/?nature" alt="Seller Name" style="border-radius: 40px;"></a>
        <a>{{username | titlecase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart-page">Cart({{cart}})</a>
      </li>
    </ul>

  </div>

</nav> -->



<div class="super_container">


  <header class="header trans_300">

    <!-- Top Navigation -->

    <div class="top_nav">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="top_nav_left">free shipping on all u.s orders over $50</div>
          </div>
          <div class="col-md-6 text-right">
            <div class="top_nav_right">
              <ul class="top_nav_menu">

                <!-- Currency / Language / My Account -->

                <li class="currency">
                  <a href="#">
                    usd
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="currency_selection">
                    <li><a href="#">cad</a></li>
                    <li><a href="#">aud</a></li>
                    <li><a href="#">eur</a></li>
                    <li><a href="#">gbp</a></li>
                  </ul>
                </li>
                <li class="language">
                  <a href="#">
                    English
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="language_selection">
                    <li><a href="#">French</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                  </ul>
                </li>
                <li class="account">
                  <a href="#">
                    My Account
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="account_selection">
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Navigation -->

    <div class="main_nav_container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-right">
            <div class="logo_container">
              <a routerLink="/">colo<span>shop</span></a>
            </div>
            <nav class="navbar" [ngSwitch]="menutype">

              <ul class="navbar_menu" *ngSwitchCase="''">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="user">User Login</a></li>
                <li><a routerLink="seller">Seller Login</a></li>
                <li><a routerLink="cart-page">Cart({{cart}})</a></li>
              </ul>

              <ul class="navbar_menu" *ngSwitchCase="'seller'">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="seller-addproduct">Add Product</a></li>
                <li><a routerLink="seller-productlist">Product List</a></li>
                <li><a (click)="logout()">Logout</a></li>
                <li><a><img src="http://source.unsplash.com/50x50/?nature" alt="seller"
                      style="border-radius: 40px;"></a>
                  <a>{{sellername | titlecase}}</a>
                </li>
              </ul>

              <ul class="navbar_menu" *ngSwitchCase="'user'">
                <li><a routerLink="/">home</a></li>
                <li><a routerLink="user-products">Products</a></li>
                <li><a (click)="userlogout()">Logout</a></li>
                <li><a><img src="https://source.unsplash.com/50x50/?nature" alt="Seller Name"
                      style="border-radius: 40px;"></a>
                  <a>{{username | titlecase}}</a>
                </li>
                <li><a routerLink="cart-page">Cart({{cart}})</a></li>
                <li><a routerLink="contact">Contact</a></li>
              </ul>

              <ul class="navbar_user">
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li class="checkout">
                  <a routerLink="cart-page">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span id="checkout_items" class="checkout_items">2</span>
                  </a>
                </li>
              </ul>

              <div class="hamburger_container">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="fs_menu_overlay"></div>
  <div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
      <ul class="menu_top_nav">
        <li class="menu_item has-children">
          <a href="#">
            usd
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="menu_selection">
            <li><a href="#">cad</a></li>
            <li><a href="#">aud</a></li>
            <li><a href="#">eur</a></li>
            <li><a href="#">gbp</a></li>
          </ul>
        </li>
        <li class="menu_item has-children">
          <a href="#">
            English
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="menu_selection">
            <li><a href="#">French</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </li>
        <li class="menu_item has-children">
          <a href="#">
            My Account
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="menu_selection">
            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
          </ul>
        </li>
        <li class="menu_item"><a routerLink="/">home</a></li>
        <li class="menu_item"><a routerLink="shop">shop</a></li>
        <li class="menu_item"><a href="#">promotion</a></li>
        <li class="menu_item"><a href="#">pages</a></li>
        <li class="menu_item"><a href="#">blog</a></li>
        <li class="menu_item"><a routerLink="contact">contact</a></li>
      </ul>
    </div>
  </div>


  <router-outlet></router-outlet>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
            <ul class="footer_nav">
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer_nav_container">
            <div class="cr">©2018 All Rights Reserverd. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>